.routine-list{
    background-color: #2c2c2c;
    width: 380px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.routine{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.routine-icon{
    background-color: #1A1A1A;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.routine-content{
    width: 230px;
    margin-right: 20px;
    font-weight: bold;
}

.routine-content span{
    font-size: 1rem;
}

.add-routine {
    opacity: 0.5;
}

.free-workout-btn{
    background-color: #EDEDED;
    height: 70px;
    width: 300px;
    border-radius: 30px;
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.free-workout-btn i{
    margin-right: 5px;
}

.routine-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}