<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::.app-container})}">
<body>
    <section class="app-container">
        <div class="status-header">
            <a th:href="@{/session/add}">
                <div class="back-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
            </a>
        </div>
        <div class="update-box">
            <form th:action="@{/exercise/add}" th:method="post" class="update-form">
                <input type="text" value="운동 이름" class="update-input" name="exerciseName">
                <button type="submit" class="update-btn">만들기</button>
            </form>
        </div>
    </section>

</body>
</html>