<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berserk WorkOut</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
    <section class="app-container">
        <div class="status-header">
            <a href="index.html">
                <div class="back-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
            </a>

            <a href="">
                <div class="add-exercise">
                    <i class="fa-solid fa-plus"></i>
                    <span>운동만들기</span>
                </div>
            </a>
        </div>

        <form action="">
            <div class="exercise-list">
                <div class="exercise">
                    <div class="exercise-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="exercise-content">
                        <label for="check2" class="exercise-label">랫 풀 다운</label>
                        <input type="checkbox" id="check2" class="exercise-checkbox">
                        <i class="fa-solid fa-check exercise-check"></i>
                    </div>
                </div>
            </div>
            <div class="exercise-btn-wrapper">
                <button class="exercise-btn">
                    선택 완료
                </button>
            </div>
        </form>

    </section>
<script src="https://kit.fontawesome.com/c0a4d90d56.js" crossorigin="anonymous"></script>
</body>
</html>