<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::.app-container})}">
<body>
    <section class="app-container">
        <div class="status-header">
            <a th:href="@{/session}">
                <div class="back-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
            </a>

            <a th:href="@{/exercise/add}">
                <div class="add-exercise">
                    <i class="fa-solid fa-plus"></i>
                    <span>운동만들기</span>
                </div>
            </a>
        </div>

        <form th:action="@{/session/add}" th:method="post">
            <div class="exercise-list">
                <div class="exercise" th:each="exercise:${exerciseList}">
                    <div class="exercise-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="exercise-content">
                        <label th:for="|check-${exercise.id}|" class="exercise-label" th:text="${exercise.name}">랫 풀 다운</label>
                        <input type="checkbox"
                               class="exercise-checkbox"
                               name="exerciseIds"
                               th:id="|check-${exercise.id}|"
                               th:value="${exercise.id}">
                        <i class="fa-solid fa-check exercise-check"></i>
                    </div>
                </div>
            </div>
            <div class="exercise-btn-wrapper">
                <button class="exercise-btn">
                    선택 완료
                </button>
            </div>
        </form>

    </section>
<script src="https://kit.fontawesome.com/c0a4d90d56.js" crossorigin="anonymous"></script>
</body>
</html>