<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berserk WorkOut</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
    <section class="app-container">
        <div class="status-header">
        </div>

        <div class="routine-list">
            <div class="routine">
                <div class="routine-icon">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <a href="routine-detail.html">
                    <div class="routine-content">
                        <span>새 루틴</span>
                    </div>
                </a>
                <div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>   
                </div>
            </div>
            
            <div class="routine add-routine">
                <div class="routine-icon">
                    <i class="fa-solid fa-plus"></i>
                </div>  
                <a href="exercise-list.html">
                    <div class="routine-content">
                        <span>루틴 만들기</span>
                    </div>
                </a>
            </div>
            <a href="">
                <div class="free-workout-btn">
                    <i class="fa-solid fa-circle-play"></i>
                    <span>자유 운동 시작</span>
                </div>
            </a>
        </div>

        <nav>

        </nav>
    </section>
<script src="https://kit.fontawesome.com/c0a4d90d56.js" crossorigin="anonymous"></script>
</body>
</html>