<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::.app-container})}">
<body>
    <section class="app-container">

        <div class="status-header">
            <a th:href="@{/session}">
                <div class="back-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
            </a>

            <a th:href="@{/session/update(id=${workoutSession.id})}">
                <div>
                    <i class="fa-solid fa-gear"></i>
                </div>
            </a>
        </div>
        <div class="routine-title">
            <span th:text="${workoutSession.title}">새 루틴</span>
        </div>
        <div class="routine-list">
            <div class="routine" th:each="sessionOrder:${sessionOrders}">
                <div class="routine-icon">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <a th:href="@{{id}/session-order(id=${workoutSession.id},exerciseNo=${sessionOrder.exerciseNo})}">
                    <div class="routine-content">
                        <span th:text="${sessionOrder.exerciseName}">푸시 업</span>
                    </div>
                </a>
                <div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>   
                </div>
            </div>
            
            <div class="routine add-routine">
                <div class="routine-icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <a th:href="@{/session/add(id=${workoutSession.id})}">
                    <div class="routine-content">
                        <span>운동 추가</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="bottom-btn">
            <a th:href="@{{id}/session-order(id=${workoutSession.id})}">
                <div class="free-workout-btn">
                    <i class="fa-solid fa-circle-play"></i>
                    <span>운동 시작</span>
                </div>
            </a>
        </div>
    </section>
</body>
</html>