<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 th:text="${sessionOrder.exerciseName}"></h2>
    <div th:each="setLog:${sessionOrder.setLogs}">
        <form th:action="@{/set-log/save}" th:method="post">
            <label th:for="|set-${setLog.setNo}|" th:text="${setLog.setNo}"></label>
            <input type="hidden" name="id" th:value="${setLog.id}">
            <input type="hidden" name="setNo" th:value="${setLog.setNo}" >
            <input th:id="|set-${setLog.setNo}|" type="number" name="weight" th:value="${setLog.weight}">
            <input type="number" name="reps" th:value="${setLog.reps}">
            <input type="text" name="complete" th:value="${setLog.complete}">
            <button>⭐️</button>
        </form>

    </div>
    <div>
        <form th:action="@{/set-log/add}" th:method="post">
            <input type="hidden" name="sessionOrderId" th:value="${sessionOrder.id}">
            <button>세트 추가</button>
        </form>
        <form th:action="@{/set-log/delete}" th:method="post">
            <input type="hidden" name="sessionOrderId" th:value="${sessionOrder.id}">
            <button>세트 삭제</button>
        </form>
    </div>
    <div>
        <a th:if="${existNext}"
                th:href="@{/session/{id}/session-order(id=${sessionOrder.workoutSessionId},exerciseNo=${sessionOrder.exerciseNo+1})}">
            다음운동
        </a>
        <span th:if="${!existNext}">운동 완료</span>
    </div>
</body>
</html>