<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">

<body>
<section>
<form th:action="@{add}" th:method="POST">
    <div th:each="exercise:${exerciseList}">
        <label th:for="|ex-${exercise.id}|" th:text="${exercise.name}"></label>
        <input type="checkbox"
               name="exerciseIds"
               th:id="|ex-${exercise.id}|"
               th:value="${exercise.id}">
    </div>
    <button th:if="${type=='new'}">루틴 생성</button>
    <button th:if="${type=='patch'}">루틴 수정</button>
</form>
</section>
</body>
</html>