<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${workoutSession.title}"></h1>
    <div th:each="sessionOrder:${sessionOrders}">
        <h2 th:text="|${sessionOrder.exerciseNo} ${sessionOrder.exerciseName}|"></h2>
        <table>
            <thead>
            <tr>
                <th>weight</th>
                <th>reps</th>
                <th>complete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="setLog:${sessionOrder.setLogs}">
                <td th:text="${setLog.weight}"></td>
                <td th:text="${setLog.reps}"></td>
                <td th:text="${setLog.complete}"></td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>