<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::.app-container})}">
<body>
    <section class="app-container">
        <div class="status-header">
            <a th:href="@{/session/{id}(id=${sessionOrder.workoutSessionId})}">
                <div class="back-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
            </a>
        </div>
        <div class="routine-title">
            <span th:text="${sessionOrder.exerciseName}">푸시 업</span>
        </div>
        <div class="routine-list">
            <form action="" class="set-form" th:each="setLog:${sessionOrder.setLogs}">
                <span th:text="${setLog.setNo}">1</span>
                <input type="number" class="set-number" th:id="|set-weight-${setLog.id}|" th:value="${setLog.weight}">
                <label th:for="|set-weight-${setLog.id}|">kg</label>
                <input type="number" class="set-number" th:id="|set-reps-${setLog.id}|" th:value="${setLog.reps}">
                <label th:for="|set-reps-${setLog.id}|">회</label>
                <input type="text" class="set-text" th:id="|set-text-${setLog.id}|" th:value="${setLog.complete}">
                <button class="set-save-btn"><i class="fa-solid fa-check"></i></button>
            </form>
            <div class="set-btns">
                <form action="">
                    <button class="set-btn set-delete-btn">세트 삭제</button>
                </form>
                <form action="">
                    <button class="set-btn set-add-btn">세트 추가</button>
                </form>
            </div>
        </div>
        <div class="set-shift-box">
            <a href="">
                <div class="set-shift set-before">
                    <span>이전 운동</span>
                </div>
            </a>
            <a href="">
                <div class="set-shift set-after">
                    <span>다음 운동</span>
                </div>
            </a>
        </div>

    </section>
</body>
</html>